body{
    background-color: #2b2b2b;
    margin: 0;
    position: relative;
}

#sidebar{
    height: 100vh;
    border-right: solid #4d4d4d;
    width: 15em;
    position: absolute;
}
img {
    user-select: none;
    
}
#sidebar_header {
    width: 100%;
    display: block;
    height: max-content;

}

#sidebar_header h1,img{
    padding-top: 0.2em;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    user-select: none;

}
#search{

    width: 100%;
    margin: auto;
    background-color: #454545;
    border: none;
    outline: none;
    color:white;
    font-size: 13px;

}

#searchbarholder{
    display: flex;
    height: fit-content;
    border:solid 2px #757575; 
    width:75%;
    margin:auto;
    border-radius:9px;
    padding: 0.3em;
}
#searchbarholder *{
height: fit-content;
margin: auto;
}
#searchbarholder img{
    margin-right: 0;
    margin-left: 0;
    margin: auto;
    
}
#searchbarholder input{
    padding: 0;
    margin-left: 0;
    font-size: 15px;
    overflow: hidden; /* Hide any overflowing text */
    word-wrap: break-word; /* Allow word wrapping */
}
#searchbarholder{
    background-color:#454545 ;
}
#gptimgtxt{
    display: inline-flex;
    width:100%;
    margin-bottom: 1em;
    margin-top: 1em;
}
#gptimgtxt *{
    width:fit-content;
    margin: auto;
}
#gptimgtxt img{
    margin-right: 0;
}
#gptimgtxt h1{
    margin-left: 0.5em;
}
.splitter{
    max-width: 90%;
    background-color: #757575;
}

#chatframe {
  position: absolute;
  top: 0;
  left: 15em; /* Adjust the left position to match the width of #sidebar */
  height: 99vh;
  width: calc(99.5% - 15em); /* Adjust the width to fill the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}
#querycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 9px;
  background-color: #383838;
  border: 0.2em solid #55e078;
  margin: auto;
  height: auto;

}   
#qcsubdiv{
    display: inline-flex;
    width:100%;
    height:100%;
}

#querycontainer *{
    margin: auto;
}

#querycontainer img{
    height: 1.5em;
    margin-left: 0;
    margin: auto;
    padding-bottom: 0.3em;
    z-index:99;
}
#querycontainer textarea {
  margin-right: 1em;
  width: 90%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background:none;
  font-weight: bold;
  border-radius: 9px;
  resize: none;
  max-height: 120px;
  padding-top: 5px;
}

#querycontainer textarea:focus {
  height: auto; /* Allow the textarea to grow in height when focused */
}

#querycontainer img:hover{
    cursor:pointer;
    
}

#gptresponse{
    margin: auto;
    height: 79vh;
    width:64vw;
    overflow-y: auto;
    margin-bottom: 1em;

}

.GPTMSG{
    height: auto;
    width: 80%;
    display:flex;
    border: solid 2px #bfbfbf;
    margin: auto;
    margin-top:1em;
    padding: 0.3em;
    border-radius:9px;
    background-color: #383838;
    opacity: 0;
}
.GPTMSG p {
  width: 100%;
  height: auto; /* Allow the height to expand */
  padding-left: 0.3em;
  margin: auto;
  color: #bfbfbf;
  font-size: 15.5px;
  margin-top: 0.23em;
  font-family: Arial;
  line-height: 15pt;
  overflow: hidden; /* Hide any overflowing text */
  word-wrap: break-word; /* Allow word wrapping */
  white-space: pre-line;
}
.GPTMSG img{
    padding-bottom: 0.6em;
}
#lock{
    display: inline-flex;
    z-index: 12;
    position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .7;

}

#lock div{
    max-width: max-content;
margin: auto;
}
.gpticon{
    height:2em;
}
#GPTMODEL{
    width:fit-content;
    margin:auto;
    border:none;
    background-color:#4d4d4d;
    border-radius:9px;
    user-select: none;

    
    
}
#GPTMODEL *{
        user-select: none;

}
#GPTMODEL button{
    display: inline-flex;
    font-family: Arial;
    font-size: 17px;
    padding-top:-0.4em;
    padding-bottom:-0.5em;
    border-radius:9px;
    text-align: center;
    outline: none;
    border:none;
    background-color:#4d4d4d;
    height: 2.4em;


}
#GPTMODEL button:hover{
    cursor:pointer;
}
#GPTMODEL img{
    width:1.5em;
    margin: auto;
    padding: 0;
    padding-right: 0.2em;
}

.modelswitch{
    display: inline-flex;
}
.modelswitch *{
    margin:auto;
}

/* Settings pannel*/
#settingspannel{
    position: absolute;
    width:40vw;
    height:40vh;
    background-color:#4d4d4d;
    margin: auto;
    border-radius:9px;
    border: solid white;

}
#settingspannel{
    opacity:0;
    z-index: 5;
}
#settingsTitle{
    display: block;
    width:fit-content;
    color: white;
    font-family: Arial;
    margin-top: 0;
    padding-top: 0.3em;
    padding-left: 0.3em;
    font-weight: bold;
}
#settingstuff{
    width:100%;
    flex: 1;
    overflow-y: scroll;

}
.settingsCard{
    width:max-content;
}
.settingsCard{
    width:fit-content;
    display: block;
    margin: auto;
}
.settingsCard *{
    color:white;
    font-family: Arial;
    font-weight: bold;
}
.settingsCard input{
    border-radius:5px;
    outline: none;
    border: none;
    background-color: #3d3d3d;
}
#openSettings:hover{
    cursor:pointer;
}
#apikeyset{
    text-overflow: ellipsis;
}
