body{
    background-color: #2b2b2b;
    margin: 0;
}

#sidebar{
    height: 100vh;
    border-right: solid white;
    width: 20em;
}

#sidebar_header {
    width: 100%;
    display: block;
    height: max-content;

}

#sidebar_header>h1{
    padding-top: 0.2em;
    display: block;
    color: white;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}
#search{
    display: block;
    width: 100%;
    margin: auto;
    background-color: #454545;
    border: none;
    outline: none;
    color:white;
    font-size: 20px;
    height:1.6em;
}

#searchbarholder{
    display: inline-flex;
    height: max-content;
    border:solid white; 
    width:75%;
    margin:0 auto;
    border-radius:15px;
    padding: 0.3em;
}
#searchbarholder *{
height: fit-content;
margin: auto;
    
}
#searchbarholder img{
    margin-right: 0;
    margin-left: 0;
}
#searchbarholder input{
    padding: 0;
        margin-left: 0;
}
#searchbarholder{
    background-color:#454545 ;
}
