* {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea{
  resize: none;
}
.main{
    width:100%;
    display: table;
    height: 100%;
  }
  #topinfopizza{
    position:relative;
    left: 25%;
    width:50%;
    height: 15em;
    border-radius: 20px;
    border:solid white;
  }
  #imgandlogo{
    margin-bottom: 3em;
  }
  #pizzalogo{
    position: relative;
    height: 5em;
    border-radius: 100px;
    left: -24%;
    top:2.5em;
    border:solid white;
  }
  .maininfo{
    width: 100%;
    display: table-cell;
  }

  .hd{
    margin-left: 23%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0em;
    margin-bottom: 0;
  }

  #hours h1, #hours label{
    margin:0;
  }
  #details h1, #details label{
    margin:0;
  }
  #details h1{
    margin-bottom: 1%;
  }

  .itemholder{
    position: relative;
    width:50%;
    left: 25%;
    margin: 0;
  }

  .itemholder>ul{
    list-style: none;
    display: inline-flex;
    padding-left: 0;
  }
  .item{
    height: min-content;
    position: relative;
    margin-right: 2em;
  }
  .item img{
    height: 7em;
    border-radius: 15px;
  }
  .item button{
    color:white;
    background-color: #1c1c1c;
    border: none;
    position: absolute;
    right: 5%;
    bottom:21%;
    border-radius: 15px;
    font-size: 15px;
  }
  .item label{
    color: white;
    font-family: monospace;
  }

  .Ordertab{
  
    height: 100%;
    background-color:#1c1c1c;
    display: table-cell;
    border-left: solid white;
    width: 12vw;
  }

  #ORDERITMSHOLD{
    overflow-y:scroll;
    height: 42em;
    scrollbar-width: thin;
    scrollbar-color: #1c1c1c;

  }


  .coursemod{
  
    position: absolute;
    background-color: #1c1c1c;
    border:solid white;
    height: 38em;
    width: max-content;
    bottom: 25vh;
    left:42.5%;
    border-radius: 15px;

  }
  .coursemod>h1{
    width: 100%;
  }
  .coursemod{
    color: white;
    font-family: monospace;
  }

   textarea{
    background:none;
    border-radius: 6px;
    border-width: 1.4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .iteminfo{
    width: fit-content;
    margin: auto;
    padding: 0.2em;
    border-radius: 5px;
  }


.iteminfo>textarea,label{
  vertical-align: middle;
}

.coursemod hr{
  padding: 0;
  width: 75%;
}

.iteminfo>label{
  text-align: center;
  padding-right: 1em;
}
.iteminfo>textarea{
  height: 1.2em;
  text-align: left;
  text-align: center;
  margin-top: 0.3em;

}

#AddonMenu{
  border: solid white;
  height: 20em;
  width: 18em;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 0.3em;
  border-radius: 10px;
}
#AddonMenu::-webkit-scrollbar{
  display: none;
}
.closebutton{
  color: red;
  background:none;
  border: none;
  position: absolute;
  left: 96%;
  bottom: 95%;
}

#addonbuttons button{
  background: none;
  color: white;
  border-color: white;
  border-radius: 6px;
}
.restyinfo label{
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}
.restyinfo textarea{
  border-color: white;
  padding: 0.2em;
}

.orderitem ul{
  margin: 0;
  list-style:square;
  padding-left: 0.1em;
}

.orderitem li{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}
.orderitem{
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
  border-bottom: solid white;

}
