#chats {
    flex: 1;
    /* Fill the remaining height */
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
    height: calc(75% - 9%);

}

.room {
    color: white;
    font-family: Arial;
    font-size: 18px;
    width: 85%;
    margin: auto;
    padding: 0.3em;
    background-color: rgb(24, 24, 24);
    border:none;
    outline: none;
    text-align: center;
    overflow-x: hidden;
    user-select: none;
    margin-top: 0.5em;
    border-radius: 9px;
}
#roomcreate{
    border-radius: 9px;
    background-color: #2d2d2d;

}
.room,
label:hover {
    cursor: pointer;
}

.room label {
    display: block;

    margin: 0;
    padding-right: 0.1em;
}


.roomoptions {
    width: 100%;
    display: flex;
    padding: 0.3em;
}

.roomoptions button {
    display:block;
    width: 90%;
    margin: auto;
    border: solid 2px grey;
    outline: none;
    border-radius: 7px;
    font-family: Arial;
    color: white;
    background-color: #2d2d2d;
    padding: 0.3em;
    user-select: none;
    text-align: center;

}

.roomoptions button:hover {
    cursor: pointer;
}
