body{
    background-color: #282b30;
    margin: 0;
}

#top{
border-bottom: solid #7289da ;
margin: 0;
}

#top ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

#top h1{
    color: #FFFFFF;
    font-family: monospace;
    font-size: 25px;
    padding-right: 1em;
}

.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: dropdown-menu-animation 0.2s ease-out;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  @keyframes dropdown-menu-animation {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }