body{
    background-color: #282b30;
    margin: 0;
}

#top{
border-bottom: solid #7289da ;
margin: 0;
}

#top ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

#top h1{
    color: #FFFFFF;
    font-family: monospace;
    font-size: 25px;
    padding-right: 1em;
}

.amazondesc_boxes{
  padding-top: 1%;
  padding-left: 1%;
  height: 17em;
}

#amazon_boxesandescholder{
  margin:1rem;
  border:solid #7289da;
  height: 30em;
  width: 55em;
}

#amazondesc_boxeselem{
  display: inline-block;
  vertical-align: middle;
  font-family: monospace;
  color:white;
  font-size: 25px;
}

.amazondesc_boxestitle{
  position: absolute;
  bottom: 5cm;
}

#amazondesc_description{
  font-family: monospace;
  color: white;
  font-size: 17px;
  width: 50%;
  position: absolute;
  left: 23em;
  bottom: 23em;
}
.joindiscord img{
  height: 3em;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: monospace;
  margin:0.5em;
}
.joindiscord label{
  padding-left: 1em;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: monospace;
  padding-right: 1em;
}

.joindiscord{
  border:#7289da solid;
  width: fit-content;
  border-radius: 15px;
  position: absolute;
  left: 28em;
  bottom:20em;
}


#desctofaq_AZ{
  height: 20em;
  position: relative;
  left: -5em;
  bottom:4em;
}

#amazonfaq  h1{
  color: white;
  font-family: monospace;
}

#amazonfaq{
  border:#7289da solid;
  margin:0;
  width: 50%;
  position: absolute;
  left: 20em;
  bottom:15em;

}

.QNA{
  list-style: none;
  padding-left: 1em;
}
.Question{
  font-family: monospace;
  font-size: 20px;
  color:white;
}
.Answer{
  font-family: monospace;
  font-size: 15px;
  color:white;
  padding-top: 0.4em;
  padding-left:1em;
}

.qna_group{

  margin-bottom: 1em;
  width: fit-content
}

#title_index{
  background-image: url(../img/image2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  width: 100%;
}
#title_index>h1{
  text-align: center;
  vertical-align: middle;
  margin:0;
  padding-top: 6%;
  color: white;
  font-family: monospace;
  font-size: 50px;
  
}

#info_index{
  background-color: #181c1c;
  margin:0;
  height: 14em;
}

#titledesc_contact_index {
  border-right:#68b2d2 solid;
height: 100%;
}

#titledesc_contact_index h1{
  font-family: lato, sans-serif;
  color:#68b2d2;
  margin:0;

}

#titledesc_contact_index h2{
  font-family: monospace;
  color:white;
  width: 25%;
  margin:0;
}

#handrawnarrowdownleft_index{
  height: 8em;
  position: relative;
  left: 10%;
  bottom: 10em;
}


#titledesc_contact_index{
padding-left: 2em;

}


.sociallink{
  border:solid #7289da;
  width: 10%;
  border-radius: 15px;
  padding: 0.3em;
  margin-bottom: 0.7em;

}
.sociallink_image{
  height: 2em;
  vertical-align: middle;
}
.sociallink_label{
  font-family: monospace;
  color: white;
  vertical-align: middle;
}