body{
    background-color: #282b30;
    margin: 0;
}

#top{
border-bottom: solid #7289da ;
margin: 0;
}

#top ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

#top h1{
    color: #FFFFFF;
    font-family: monospace;
    font-size: 25px;
    padding-right: 1em;
}

.amazondesc_boxes{
  padding-top: 1%;
  padding-left: 1%;
  height: 17em;
}

#amazon_boxesandescholder{
  margin:1rem;
  border:solid #7289da;
  height: 30em;
  width: 55em;
}

#amazondesc_boxeselem{
  display: inline-block;
  vertical-align: middle;
  font-family: monospace;
  color:white;
  font-size: 25px;
}

.amazondesc_boxestitle{
  position: relative;
  bottom: 5cm;
}

#amazondesc_description{
  font-family: monospace;
  color: white;
  font-size: 17px;
  width: 50%;
  position: relative;
  left: 23em;
  bottom: 23em;
}
.joindiscord img{
  height: 3em;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: monospace;
  margin:0.5em;
}
.joindiscord label{
  padding-left: 1em;
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-family: monospace;
  padding-right: 1em;
}

.joindiscord{
  border:#7289da solid;
  width: fit-content;
  border-radius: 15px;
  position: relative;
  left: 28em;
  bottom:20em;
}
