
#TOP{
    border: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    margin-top: 0px;
}


.SSINTRO{
    width:fit-content;
    margin: auto;
    opacity: 0;
}

.SSINTRO iframe{
    height: 25em;
    width: 40em;
}
.SSINTRO *{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.SSINTRO #int_aqlx{
    font-size: 50px;
}

#aqxh1h2{
    position: relative;
    margin-right: 1em;
}
.divid_top{
    width: 0%;
    margin-top: 1em;
    margin-bottom: 1em;
}
h1{
    color: white;
}

.abtus{
    margin: auto;
    width: 100%;
    padding-top: 1em;

}

#hourssection{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.abdiv{
    border: solid rgb(34,34,34);
    border-radius: 9px;
    height: 14.3em;
    width: 14em;
    background-color: rgb(24, 24, 24);
    margin-left: .8em;
    margin-right: .8em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
.abtus ul{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.abtus h1{
    width:fit-content;
    margin: auto;
    position: relative;
    font-size: 25px;
    margin-bottom: 0.3em;
}

.abtus p{
    color: rgb(179, 179, 179);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin:auto;
    text-align: center;
    position: relative;
    margin-top: 6%;

}
.abtus img{
    display: block;
    width: 25%;
    margin: 0 auto;
    justify-content: center;
}
.abtus li{
    text-decoration: none;
}

#aboutholder{
    display: flex;
    width: max-content;
    margin: auto;
}
.order{
box-shadow: 0 0 10px #115dd6, 0 0 30px #115dd6, 0 0 50px #115dd6;

width: 20vw;
height: 10vh;
font-size: 24px;
font-weight: 700;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 6px;
background-color: #115dd6;
color: white;
border:rgb(24, 24, 24);
}
.HRSINFO{
    width: 20%;
    margin: auto;
    
}
.HRSINFO *{
    display: block;
    width: max-content;
    margin: auto;
    text-align: center;
}