
#title_index{
    background-image: url(../img/image2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    width: 100%;
    
  }
  #title_index>h1{
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin:0;
    color: white;
    font-family: monospace;
    font-size: 50px;
  
    top: 20%;
     
  }
  
  #info_index{
    background-color: #181c1c;
    margin:0;
    height: max-content;
  }
  
  #titledesc_contact_index {
    border-right:#68b2d2 solid;
    height: fit-content;
  }
  
  #titledesc_contact_index h1{
    font-family: lato, sans-serif;
    color:#68b2d2;
    width: max-content;
    margin:0;
  
  }
  
  #titledesc_contact_index h2{
    font-family: monospace;
    color:white;
    width: 25%;
    margin:0;

  }

  .aboutme{
    display: flex;
    border-bottom: solid white;
  }


  .works_sect{
    width: 40%;
    border-left: solid white;
  }
  .programming_sect{

    width: max-content

  }

  #aboutSS_index{
    color: white;
    width: fit-content;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
  }
  #desc_SSV{
    width: fit-content;
    color: white;
    margin: 0;
    margin-left: 0.3em;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 0.5em;
  }
  .ssindexholder{
    display: flex; 
    width: 80%; 
    margin: auto; 
    vertical-align: middle;
    margin-top: 1em;
  }
  .ssindex_listitem{
    color: white; 
    width: min-content;
     height: min-content; 
     font-size: 320%; 
     margin: 0; 
  }