body {
    margin: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
}

iframe {
    height: min-content;
    width: 100%;
    height: 5em;
    border: none;
}

.section {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

* {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#s01 h1, button{
    display: flex;
    width: fit-content;
    margin: auto;
}
#s01 button{
    font-size: 25px;
    outline: none;
    border-radius: 9px;
    border: solid white;
    outline: none;
    color: white;
    background-color: #1c1c1c;
    padding: 0.3em;
}

#s02 {
    display: grid;
    width: 70%;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    margin: auto;
    justify-content: center;
    /* Center the grid horizontally */

}

.newsreport {
    width: 80%;
    border-radius: 9px;
    box-sizing: border-box;
    margin: auto;
    border: solid white;
    padding: 0.3em;
    margin-bottom: 1em;

}

.newsreport h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.newsreport h3 {
    padding: 0;
    margin: 0;
    text-align: lef;
}

.newsreport p {
    padding: 0;
    margin: 0;
    margin-top: 0.3em;
    text-align: left;
    height: auto;
    /* or use 'height: auto;' */
}

/*news*/
#admnewsupload{
    position: absolute;
    width: fit-content;
    margin: auto;
    width: 40%;
    left: 50%;
    margin-left: -20%; 
    height: fit-content;
    background-color: rgb(67, 67, 67);
    border: solid white;
    top: 15%;
    border-radius: 15px;

}
#admnewsupload h3{
    margin:0;
    padding: 0.3em;
}
#divspan{
    width: 100%;
    position: relative;
}
#divspan>button{
    position: relative;
    background:none;
    font-size: 20px;
    outline: none;
    border: none;
    height: 1.3em;
    padding-right: 1.5em;
    font-weight: bold;
    width: 5%;
}
#admnewsupload textarea{
    resize: none;
    width: 98%;
    color: black;
    font-size: 15px;
    border-radius: 9px;
    border: solid grey 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#divspan>h3{
    width: 95%;
}
#admnewsupload>div{
    height: 100%;
    padding: 0.3em;
}
#opnrptc{
    margin-top: 0.3em;
    font-size: 50px;
}
#a_three {
    font-size: 25px;
    background: none;
    border: solid white 2px;
    border-radius: 9px;
    padding-left: 0.5em;
    padding-right: .5em;
}

@media only screen and (max-width:1000px){
    #admnewsupload{
        position: absolute;
        width: fit-content;
        margin: auto;
        width: 80%;
        left: 50%;
        margin-left: -40%; /* Half of the width */
        height: fit-content;
        background-color: grey;
        border: solid white;
    }
    #admnewsupload{
        top: 25%;
        font-size: 30px;
    }
    #admnewsupload textarea{
        height: 5em;
    }
    #divspan>button{

        font-size: 50px ;
    }
    #s01 button{
        width: 50%;
        padding: 0.3em;
        justify-content: center;
        font-size: 50px;
        border: solid white 4px;
    }
    #s01 h1{
        font-size: 45px;
    }
    #a_three {
        font-size: 50px;

    }
    .newsreport h2{
        font-size: 50px;
    }
    .newsreport h3{
        font-size: 30px;
    }
    .newsreport p{
        font-size: 25px;
    }

}