body{
    overflow-x: hidden;
    margin: 0;
    overflow-y:hidden;
    background-color: #1a1a1a;
}
:root{
    --img-viewer-height:80%;
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}
#TOP{
    border: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    margin-top: 0px;
    padding: 0;
}
#main-viewer{
    display: flex;
    width: 100%;
    height: var(--img-viewer-height);
}
#main-viewer-border{
    width: 1800px;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;

}
#viewer-selector-container{
    display: block;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
}
#viewframe{
    display: flex;
    max-width: 1600px;
    max-height: 100%;
    margin: auto;
    border-radius: 7px;
    object-fit: cover;
    object-position: center;
}

.selector{
    display: flex;
    width: 98vw;
    border-radius: 7px;
    margin: auto;
    height: calc(98% - calc(var(--img-viewer-height) + 60px));
    flex-grow: 1;
    background-color: black;
    padding: 0.3rem;
}
.selector img{
    max-height: 90%;
    max-width: 5rem;
    border-radius: 7px;
    margin: auto;
    margin-left: 0;
    margin-right: 0.3rem;
}