body{
    position: relative;
    overflow-x: hidden;
    margin: 0;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --img-viewer-height:80%;
}
html{
    overflow-x: hidden;
    position: relative;
    margin: 0;
}
body, html{
    height: 200vh;
}
#TOP{
    border: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    margin-top: 0px;
    padding: 0;
}
#main-viewer{
    display: flex;
    width: 98vw;
    height: var(--img-viewer-height);
    margin-bottom: 0.3rem;
    overflow-x: hidden;
    overflow-y: hidden;
}
#main-viewer-border{
    width: 1800px;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;

}
#viewer-selector-container{
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    background-color: black;
}
#viewframe{
    display: flex;
    max-width: 1600px;
    max-height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
    z-index: 99;
}

.selector{
    display: flex;
    width: 98vw;
    margin: auto;
    height: calc(98% - calc(var(--img-viewer-height) + 60px));
    flex-grow: 1;
    padding: 0.3rem;
    padding-bottom: 0.05rem;
    border-top: solid 1.5px rgb(196, 196, 196);
    border-bottom: solid 1.5px rgb(196, 196, 196);

}
#selectorholder{
    display: flex;
    width: fit-content;
    height: 100%;
    margin: auto;
}
.selector img{
    display: block;
    height: 5rem;
    max-width: 4rem;
    min-width: 4rem;
    filter: blur(2px);
    z-index: 9;

}
.selector label {
    display: block;
    font-weight: bolder;
    text-align-last: center;
    font-size: 10px;
    margin-top: 6%;
    color: #4b4b4b;
}
.cloneimg-select{
    display: block;
    overflow-y: hidden;
    height: 100%;
    margin-right: 2rem;
}
.unanchored-1 {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: block;
    top: 25vh;
    transform: translateX(3rem);
}
.unanchored-1  *{
    margin: 0;
    display: block;
}
.unanchored-1 img{
    width: 60px;
    height: 60px;
    margin: auto;
}

.s01 {
    background-repeat: no-repeat;
    background-image: url("../img/photographyassets2/banner1.jpg");
    position: absolute; /* Position it on top of the first section */
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh; /* Full viewport height for the second section */
    transform: translateY(100%); /* Start off-screen */
    transition: transform 0.3s ease; /* Smooth transition */
}
.mainsection{
    width: 100%;
    height: 100%;
    display: flex;
}
.mainsection-info{
    width: fit-content;
    height: fit-content;
    display: block;
    margin: auto;
    margin-top: 7%;
    margin-left: 20%;
}
.mainsection-info h1{
    font-size: 50px;
    font-weight: 500;
    width: 60%;
}
.mainsection-info h4{
    font-weight: 300;
}
#qualities{
    display: flex;
    height: 20%;
    width: fit-content;
    background-color: #47463e;

}
.quality-card{
    display: block;
    height: 80%;
    width: 12rem;
    background-color: #47463e;
    padding: 1.7rem;
    opacity: 0.85;
    backdrop-filter:blur(5px);
}
.border {
    display: flex;
    height: 6rem;
    width: .1rem;
    margin: auto;
    background-color: #746e45;
}
.quality-card h3{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-weight: 400;
}
.quality-card label{
    display: block;
    width: 100%;
    height: fit-content;
    margin: auto;
    text-align: center;
    font-weight: 200;
}
.qualityhr{
    width: 60%;
    color: white;
    border-color: white;
    outline: none;
}
.quality-card img{
    display: block;
    height: 35px;
    width: 35px;
    margin: auto;
}

@media only screen and (max-width:1200px){ /* mobile opt */
    .unanchored-1 {        
        display: none;
    }

}
@media only screen and (max-width:600px) {
    .selector{
        width: 90vw;
    }

    #main-viewer {
        width: 75vw;
        height: 65vh;
        margin: auto;
        margin-bottom: 1rem;
        .selector {
            overflow-x: scroll;
        }
    }
    .selector{
    padding-top: .7rem;
    }

}