body{
    background-color: #1c1c1c;
    margin: 0;
}

#top{
margin: 0;
position: sticky;
}


#top ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

#top h1{
    color: #FFFFFF;
    font-family: monospace;
    font-size: 25px;
    padding-right: 1em;
}