body{
    background-color: #282b30;
    margin: 0;
}

#top{

margin: 0;
}

#top ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

#top h1{
    color: #FFFFFF;
    font-family: monospace;
    font-size: 25px;
    padding-right: 1em;
}