body{
    margin: 0;
    height: min-content;
}

nav{
    display: flex;
    padding-left: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    height: fit-content;
}

nav a{
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    color: #666666;
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-decoration: none;
    padding-right: 1em;
    vertical-align: middle;
}


nav a{
    margin-top: 0;
    margin-bottom: 0;
}
